@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.title {
    color: #DC2626;
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    color: #F87171;
    font-family: 'Montserrat', sans-serif;
}