@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Sigmar+One&display=swap");

.title {
    color: #DC2626;
    font-family: 'Ranchers', cursive;
font-family: 'Sigmar One', cursive;
}

.subtitle {
    color: #F87171;
}