@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Special+Elite&display=swap");

.header__nav {
  background-color: black;
  color: white;
  display: flex;
  font-weight: 700;
  font-size: larger;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header > span {
  font-family: "Sacramento", cursive;
  font-family: "Special Elite", cursive;
  font-size: x-large;
}

.header__DesktopList > li > a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}

.header__DesktopList {
  list-style-type: none;
  display: flex;
}

.hamburger-button {
    display: none;
}

@media screen and (max-width: 930px) {
    .header__DesktopList {
        display: none;
    }
    .hamburger-button {
        display: flex;
    }
    .header__mobileList {
        list-style-type: none;
        margin: 0;
        padding: 1.5rem;
        background-color: black;
    }
    .header__mobileList > li {
        margin: 1rem;
    }
    .header__mobileList > li > a {
        text-decoration: none;
        color: white;
        font-size: larger;
    }
}
